<div class="game game-list-item">

    <div class="game-cover">
        <img src="https://placehold.co/1280x720" alt="temporário">
    </div>

    <div class="game-title-container">
        <h2 class="game-title">Lorem ipsum dolor sit amet.</h2>
    </div>

    <div class="game-author-container">

        <span class="game-author-item">
            <i class="fa-solid fa-building"></i>
            Team Cherry
        </span>
        <span class="game-author-item">
            <i class="fa-solid fa-calendar"></i>
            Setember 4, 2025
        </span>
        <span class="game-author-item">
            <i class="fa-solid fa-bolt"></i>
            Metroidvania
        </span>

    </div>

    <div class="game-content">
        <strong>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo nostrum reiciendis temporibus
                rerum cupiditate, id nemo nobis, at accusamus praesentium porro harum! Vero esse maiores
                beatae
                exercitationem fugit consectetur corporis!
            </p>
        </strong>
    </div>

    <div class="game-achievement-container">
        <div class="game-achievement">
            <h2><i class="fa-solid fa-trophy"></i>Achievements</h2>
            <div class="game-achievement-text">
                52 trophys
            </div>
        </div>


    </div>

    <footer class="game-footer">
        <a href="/gamerhub/1/" class="game-read-more">
            <i class="fa-solid fa-eye"></i>
            <span>Ver mais...</span>
        </a>
    </footer>
    
</div>